:root{
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
    --font: 'Manrope', sans-serif
}
body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas:
    "espaco1 header header espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    "espaco1 main main espaco2"
    ;
    color: var(--text-color);
    background-image: url('../assets/blur-1.png'), url('../assets/blur-2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    background-color: var(--backgrond);
    font-family: var(--font);

}

header{
    grid-area: header;
    display: grid;
    grid-template-areas:
    "esp1"
    "esp2"
    "esp3";
}
#esp1{
    grid-area: esp1;
}
#esp2{
    grid-area: esp3;
}

#cont{
    grid-area: esp2;
    display: grid;
    grid-template-areas:
    "fig fig fig fig menu menu but but but";
}

#divLogo{
    grid-area: fig;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divButton{
    grid-area: but;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
li:hover{
    background: #8257E5;
}

#pegar{
    background-color: transparent;
    color: var(--text-color);
    border: solid var(--button) 1px;
    font-weight: 700;
}
#pegar:hover{
    background: #8257E5;
}
.table{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 400;
}
#table1{
    grid-area: menu;
}
.listMenu{
    list-style: none;
}

main{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "titulo"
    "imagem"
    "imagem"
    "imagem"
    "imagem"
    "imagem"
    "imagem"
    "imagem"
    "imagem"
    "imagem";
}
#titulo{
    grid-area: titulo;
    justify-content: center;
    text-align: center;
    font-size: clamp(3rem, 10vw, 4rem); 
    font-weight: 700;
}
#greatCo{
    color: #000;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
#imagem{
    grid-area: imagem;
    display: flex;
    justify-content: space-between;
    
}
#espImg1{
    grid-area: espImg1;
    flex-grow: 2;
}
#espImg2{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 50%;
}
#espImg3{
    flex-grow: 2;
}
#espaco1{
    grid-area: espaco1;
}
#espaco2{
    grid-area: espaco2;
}
li:hover{
    background: #8257E5;
}

@media(max-width: 664px) {
    #table1{
        display: none;
    }
    #pegar{
        display: none;
    }
    #icon{
        display: flex;
    }
    #divLogo{
        justify-content: left;
    }
}    